PL/Connected Services/ServiceReference1/RepartidorServicio3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ML" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ML" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55128/RepartidorServicio.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Repartidor">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fotografia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdRepartidor" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadEntrega" nillable="true" type="tns:UnidadEntrega" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Repartidor" nillable="true" type="tns:Repartidor" />
  <xs:complexType name="UnidadEntrega">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estatus" nillable="true" type="tns:EstatusUnidad" />
      <xs:element minOccurs="0" name="Fabricacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUnidad" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPlaca" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Unidades" nillable="true" type="q1:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadEntrega" nillable="true" type="tns:UnidadEntrega" />
  <xs:complexType name="EstatusUnidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstatusUnidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstatusUnidad" nillable="true" type="tns:EstatusUnidad" />
</xs:schema>